* {
    margin: 0;
    padding: 0;
    
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Sixtyfour', sans-serif;
    background-image: url('assets/background.jpg');
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    margin-top: 10px;
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    z-index: 1000;
}

.overlay-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 2rem;
    border-radius: 20px;
    background: #f3d065;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 1);
    padding: 10px;
    margin-right: 50px;
}

.sound-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #f3d065;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 1);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.sound-button:hover {
    transform: scale(1.2);
}

.sound-icon {
    width: 100%;
    height: 100%;
}

.score-error-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: relative;
}

.score-container {
    position: absolute;
    left: 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    background: #f3d065;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 1);
    padding: 10px;
}

.cross-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    border-radius: 20px;
    font-size: 1.5rem;
    background: #f3d065;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 1);
    padding: 10px;
}

.cross-container img {
    margin-top: 5px;
    height: 30px;
    margin: 0px 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    height: 600px;
    width: 790px;
    background: #f3d065;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 1);
    cursor: none;
}

.mole-hole {
    position: relative;
    background-color: #afeeee; 
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgb(0, 0, 0, .3),
                0 0 5px rgb(0, 0, 0, .5);
    overflow: hidden;
}

.mole-hole .dev {
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: -6px;
    left: 120px;
    transform: translate(-50%);
    animation: appear 0.3s ease-out;
}

.mole-hole .bomb {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 140px;
    transform: translate(-50%);
    animation: appear 0.3s ease-out;
}

@keyframes appear {
    0% {
        transform: translate(-50%) translateY(100%);
    }
    100% {
        transform: translate(-50%) translateY(0%);
    }
}

.cursor-hammer {
    height: 200px;
    width: 180px;
    position: absolute;
    top: 80px;
    left: 100px;
    background-image: url(assets/hammer.png);
    background-size: 100% 100%;
    transform: translate(-20%, 20%);
    transition: transform .1s;
    z-index: 999;
    pointer-events: none;
}

.cursor-hammer.active {
    transform: translate(-20%, 20%) rotate(-45deg);
}
